<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span8">
      <div class="field">
        <%= f.check_box :completed %>
        <%= f.label :completed %><br />
      </div>
      <div class="field">
        <%= f.label :start_date %><br />
        <%= f.text_field :start_date, :'data-behaviour' => 'datepicker' %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br />
        <%= f.text_field :end_date, :'data-behaviour' => 'datepicker' %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :intro %><br />
        <%= f.text_area :intro %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div class="span4">
      <h3>Front Picture</h3>
      <div class="field">
        <% Picture.order(:created_at).reverse.each do |picture| %>
          <div class="select-outer-img">
            <%= f.label :front_picture_id, image_tag(picture.flickr_small_url, class: 'select-inner-img'), :for => "trip_front_picture_id_#{picture.id}" %>
          </div>
          <%= f.radio_button :front_picture_id, picture.id %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#trip_intro').wysihtml5();
  $('[data-behaviour~=datepicker]').datepicker({
    format: 'dd-mm-yyyy'
  })
</script>
