<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('logo.png'), root_path, class: "brand" %>
      <%= form_tag results_path, method: 'get', class: 'navbar-search pull-left' do %>
        <%= text_field_tag :q, params[:q], class: 'search-query', placeholder: 'Search' %>
      <% end %>
      <ul class="nav pull-left">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <i class="icon-globe icon-white"></i>
              Trips
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <%= Trip.find_each do |trip| %>
              <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <i class="icon-tags icon-white"></i>
              Tags
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <%= Tag.find_each do |tag| %>
              <li><%= link_to "#{tag.name} (#{tag.tag_count})", tag_path(tag) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              About
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="icon-inbox"></i> Contact'.html_safe, contact_path %></li>
            <li><%= link_to '<i class="icon-question-sign"></i> About'.html_safe, about_path %></li>
            <li><%= link_to '<i class="icon-camera"></i> Photography'.html_safe, photography_path %></li>
            <li><%= link_to '<i class="icon-bullhorn"></i> Web Design'.html_safe, web_design_path %></li>
            <% if user_signed_in? %>
              <li class="divider"></li>
              <li><%= link_to "New Trip", new_trip_path %></li>
              <li><%= link_to "New Gear Item", new_gear_item_path %></li>
              <li><%= link_to "New Gear List", new_gear_list_path %></li>
              <li><%= link_to "New Tag", new_tag_path %></li>
              <li><%= link_to "New Picture", new_picture_path %></li>
              <li><%= link_to "New Post", new_post_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
              <li><%= link_to "Edit User", edit_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


