<div class="sidebar">

  <div class="social">
    <table>
      <tr>
        <td>
          <%= image_tag 'facebook.png' %>
        </td>
        <td>
          <%= link_to image_tag('twitter.png', alt: 'Stu Was Here on Twitter', :'data-toggle' => "tooltip", title: 'Stu Was Here on Twitter', class: 'tooltip-me'), 'https://twitter.com/stuwashere', target: '_blank' %>
        </td>
        <td>
          <%= link_to image_tag('flickr.png', alt: 'Stu Was Here on Flickr', :'data-toggle' => "tooltip", title: 'Stu Was Here on Flickr', class: 'tooltip-me'), 'http://www.flickr.com/photos/94464817@N03/', target: '_blank' %>
        </td>
        <td>
          <%= image_tag 'rss.png' %>
        </td>
      </tr>
    </table>
  </div>

  <div class="sidebar-section">
  <h3>Me</h3>
  <p>Writer, <%= link_to 'photographer', photography_path %>, <%= link_to 'web designer', web_design_path %>, professional adventurer.</p>
  </div>

  <div class="border-div"></div>

  <% unless params[:controller] == 'statics' && params[:action] == 'home' %>
    <div class="sidebar-section">
      <h3>Latest Trip</h3>
      <% @last_trip = last_trip %>
      <%= link_to @last_trip.name, trip_path(@last_trip), class: 'next-trip-a' %>
      <p class="sidebar-dates">
        <%= pretty_date(@last_trip.start_date) %>
        <i class="icon-arrow-right"></i>
        <%= pretty_date(@last_trip.end_date) %>
      </p>
    </div>

    <div class="border-div"></div>

  <% end %>

  <div class="sidebar-section">
    <h3>Latest Gear Reviews</h3>
    <ul class="styled-ul">
      <% Tag.find_by_name('Gear Review').posts.first(5).each do |post| %>
        <li>
          <%= link_to truncate(post.title, length: 22, omission: '...'), post_path(post) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="border-div"></div>

  <div class="sidebar-section">
    <h3>New Pictures</h3>
    <table class="sidebar-pic-table">
      <% Picture.order(:created_at).reverse.first(12).in_groups_of(2).each do |group| %>
        <tr>
          <% group.each do |pic| %>
            <td>
              <% if pic != nil %>
                <div class="outer-img">
                  <%= link_to image_tag(pic.flickr_small_url, alt: pic.name, :'data-toggle' => "tooltip", title: pic.name, class: 'inner-img tooltip-me'), picture_path(pic) %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

</div>

<script type="text/javascript">
  $('.tooltip-me').tooltip()
</script>
