<% provide(:title, "home") %>
<% provide(:desc, '') %>

<div class="row">
  <div class="span9">
    <div class="homepage-well">
      <%
        @last_trip = last_trip
        if @last_trip.front_picture_id.present?
          @front_pic = Picture.find(@last_trip.front_picture_id)
        end
      %>
      <h3 class="homepage-last-trip">
        <%= link_to @last_trip.name, trip_path(@last_trip) %>
        <span class="purp-me">::</span>
        <%= link_to "Gear List", gear_list_path(@last_trip.gear_list) %>
      </h3>
      <p>
        <% if @last_trip.front_picture_id.present? %>
          <span class="home-last-trip-img">
            <%= link_to image_tag(@front_pic.flickr_medium_url, alt: @front_pic.name), picture_path(@front_pic) %>
          </span>
        <% end %>
        <%= truncate(@last_trip.intro, length: 250, omission: '...') %>
        <br>
      </p>
      <div class="bump"></div>
    </div>

    <% @posts.each do |post| %>
      <div class="home-single-post">
        <h3><%= link_to post.title, post_path(post) %></h3>

        <div class="border-div"></div>

        <p class="post-meta">
          <i class="icon-calendar"></i>
          <span class="meta-date"><%= pretty_date(post.created_at) %></span>
          <i class="icon-tag"></i>
          <%= post.tags.map { |t|
            "<a href=\"#{tag_path(t)}\">#{t.name}</a>"
           }.join(', ').html_safe %>
        </p>

        <div class="post-content">
          <%= truncate(post.content, length: 1000, omission: "... #{link_to 'read more', post_path(post)}").html_safe %>
        </div>
      </div>
    <% end %>

    <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="span3">
    <%= render 'shared/sidebar' %>
  </div>
</div>

