<% provide(:title, @picture.name) %>
<% provide(:desc, @picture.description) %>

<h1 class="picture-h1"><%= @picture.name %></h1>

<div class="well">
  <table class="pic-h-select">
    <tr>
      <% @picture.related.each do |pic| %>
        <td>
          <div class="outer-img">
            <% if pic == @picture %>

              <%= image_tag pic.flickr_small_url, alt: pic.name, :'data-toggle' => "tooltip", title: pic.name, class: 'inner-img opacity-me' %>

            <% else %>

              <%= link_to image_tag(pic.flickr_small_url, alt: pic.name, :'data-toggle' => "tooltip", title: pic.name, class: 'inner-img tooltip-me'), picture_path(pic) %>

            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  </table>
</div>

<table class="img-show-table">
  <tr>
    <td>
      <% if @picture.previous.present? %>
        <%= link_to image_tag('chevron-left.png', alt: 'Previous Picture', :'data-toggle' => "tooltip", title: 'Previous Picture', class: 'tooltip-me'), picture_path(@picture.previous), class: 'pic-chevron' %>
      <% else %>
        <%= image_tag 'chevron-left.png', class: 'opacity-me' %>
      <% end %>
    </td>

    <td>
      <div class="img-show-outer">
        <%= image_tag @picture.flickr_large_url, alt: @picture.name %>
        <p class="pic-show-desc"><i><%= @picture.description %></i></p>
      </div>
    </td>

    <td>
      <% if @picture.next.present? %>
        <%= link_to image_tag('chevron-right.png', alt: 'Next Picture', :'data-toggle' => "tooltip", title: 'Next Picture', class: 'tooltip-me'), picture_path(@picture.next), class: 'pic-chevron' %>
      <% else %>
        <%= image_tag 'chevron-right.png', class: 'opacity-me' %>
      <% end %>
    </td>
  </tr>
</table>

<div class="pic-show-well">
  <% if @picture.gear_item_id.present? || @picture.trip_id.present? || @picture.post_id.present? %>
    <h4>This Picture Belongs To:</h4>
    <ul>
      <% if @picture.trip_id.present? %>
        <li>
          <%= link_to "#{@picture.trip.name} Trip", trip_path(@picture.trip) %>
        </li>
      <% end %>
      <% if @picture.gear_item_id.present? %>
        <li>
          <%= link_to @picture.gear_item.name, gear_item_path(@picture.gear_item) %>
        </li>
      <% end %>
      <% if @picture.post_id.present? %>
        <li>
          <%= link_to @picture.post.title, post_path(@picture.post) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>

<% if can? :update, @picture %>

  <%= link_to 'Edit', edit_picture_path(@picture) %>
  <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<script type="text/javascript">
  $('.tooltip-me').tooltip()
</script>
