<% provide(:title, @post.title) %>
<% provide(:desc, truncate(strip_tags(@post.content), :length => 180)) %>
<div class="row">
  <div class="span9">

    <div class="social-arrow">
      <%= image_tag("chevron-right.png", alt: 'show share buttons', title: 'show share buttons', class: 'social-arrow-img')  %>
    </div>

    <div class="social-bar">
      <div class="social-button">
        <div class="fb-like" data-href="<%= post_url(@post) %>" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false"></div>
      </div>
      <div class="social-button">
        <su:badge layout="5" location="<%= post_url(@post) %>"></su:badge>
      </div>
      <div class="social-button">
        <div class="g-plusone" data-size="tall" data-href="<%= post_url(@post) %>"></div>
      </div>
      <div class="social-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(@post) %>" data-via="stuwashere" data-count="vertical">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>

    <h1 class="post-h1"><%= @post.title %></h1>

    <div class="border-div"></div>

    <p class="post-meta">
      <i class="icon-calendar"></i>
      <span class="meta-date"><%= pretty_date(@post.created_at) %></span>
      <i class="icon-tag"></i>
      <%= @post.tags.map { |t|
        "<a href=\"#{tag_path(t)}\">#{t.name}</a>"
       }.join(', ').html_safe %>
      <% if @post.gear_item_id.present? %>
        <i class="icon-star"></i>
        <%= link_to @post.gear_item.name, gear_item_path(@post.gear_item) %>
      <% end %>
    </p>

    <div class="post-content">
      <%= @post.content.html_safe %>
      <% if can? :update, @post %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>

    <% if @post.gear_item_id.present? %>
      <div class="well">
        <strong>Find out more about the <%= link_to @post.gear_item.name, gear_item_path(@post.gear_item) %></strong>
      </div>
    <% end %>

    <% if @post.gear_item_id.present? && @post.gear_item.avantlinks.present? %>
      <div class="float-left">
        <h3 class="h3-margin post-split post-split-margin">Buy It</h3>
        <ul class="styled-ul post-split post-split-margin">
          <% @post.gear_item.avantlinks.each do |link| %>
            <li>
              <a href="<%= link.buy_url %>" target="_blank" rel="nofollow" class="tooltip-me" data-toggle="tooltip" title="<%= link.merchant_name %>">
                <%= truncate(av_name(link), length: 30, omission: '..') %>
                <span class="float-right orange-me">
                  <%= link.sale_price %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="float-left">
        <h3 class="h3-margin post-split">Related Posts</h3>
        <ul class="styled-ul post-split">
          <% @post.related.each do |post| %>
            <li><%= link_to post.title, post_path(post) %></li>
          <% end %>
        </ul>
      </div>

    <% else %>

      <h3 class="h3-margin">Related Posts</h3>
      <ul class="styled-ul">
        <% @post.related.each do |post| %>
          <li><%= link_to post.title, post_path(post) %></li>
        <% end %>
      </ul>

    <% end %>

    <br>
    <br>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'stuwashere'; // required: replace example with your forum shortname
        var disqus_developer = "<%= Rails.env == "production" ? 0 : 1 %>";
        var disqus_title = "<%= @post.title %>";
        var disqus_url = "<%= request.url %>";
        var disqus_identifier = "<%=request.fullpath %>";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <div class="span3">
    <%= render 'shared/sidebar' %>
  </div>
</div>

<script type="text/javascript">
  $('.tooltip-me').tooltip()
</script>
