<% provide(:title, @post.title) %>
<% provide(:desc, truncate(strip_tags(@post.content), :length => 180)) %>
<div class="row">
  <div class="span9">
    <h1 class="post-h1"><%= @post.title %></h1>

    <div class="border-div"></div>

    <p class="post-meta">
      <i class="icon-calendar"></i>
      <span class="meta-date"><%= pretty_date(@post.created_at) %></span>
      <i class="icon-tag"></i>
      <%= @post.tags.map { |t|
        "<a href=\"#{tag_path(t)}\">#{t.name}</a>"
       }.join(', ').html_safe %>
    </p>

    <div class="post-content">
      <%= @post.content.html_safe %>
    </div>

    <br>

    <% if can? :update, @post %>

      <%= link_to 'Edit', edit_post_path(@post) %>

    <% end %>

    <br>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'stuwashere'; // required: replace example with your forum shortname
        var disqus_developer = "<%= Rails.env == "production" ? 0 : 1 %>";
        var disqus_title = "<%= @post.title %>";
        var disqus_url = "<%= request.url %>";
        var disqus_identifier = "<%=request.fullpath %>";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <div class="span3">
    <%= render 'shared/sidebar' %>
  </div>
</div>
